.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.imgProfile {
}
.imgProfile .image {
}

.name {
}

.displaynotif {
  background-color: var(--color-primary);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 10px;
  text-align: center;
  color: black;
}

.contactContainer {
  position: relative;
}
