.reactionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.like{
    display: flex;
    justify-content: start;
}

.dislike{
    display: flex;
    justify-content: end;
}

.button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.button span{
    position: absolute;
    top: -2px;
}