.container{
  display: flex;
  /* align-items: center; */
  gap: 50px;
}

.sidebar{
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 20px; */
}

.posts{
  flex: 8;
  display: flex;
  flex-direction: column;
  
}