.container{
    /* border-left: 1px solid #333;
    border-right: 1px solid #333; */
    border: 2px solid #333;
    padding: 20px;
}

.container .post{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
}
.header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.header .containerHeader{
    display: flex;
    align-items: center;
    /* justify-content: start;
    width: 100%; */
}

.imageContainer{
    width: 50px;
    aspect-ratio: 1 / 1;
    background-color: var(--color-primary);
    border-radius: 50%;
}
.header h2{
    margin-left: 10px;
}
.imageContainer .image{
    object-fit: cover;
}
.content{
    margin: 15px 20px;
    line-height: 1.5em;
    font-size: 17px;
    /* align-items: start; */
}
.imagePost{
    /* width: 95%; */
    /* min-height: 300px; */
    /* position: relative; */
    /* margin-bottom: 20px;
    margin-left: 20px; */
    display: flex;
    align-items: center;
}
.imagePost .image{
    object-fit: cover;
    border-radius: 7px;
    width: 95%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.reaction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.reaction .dislike{
    display: flex;
    align-items: center;
}
.dislike svg{
    margin-top: 4px;
}

.reaction .comment{
    display: flex;
    align-items: center;
}
.reaction .comment span{
    margin-bottom: 2px;
}