.userscontainer {
  /* background-color: black; */
}

.soutitre0 {
  position: relative;
  top: 1%;
  left: 15%;
  width: 80%;
  text-align: center;
  background-color: var(--color-primary);
  color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  font-size: 22px;
  font-weight: 800;
  text-transform: capitalize;
  border: none;
}
@media(max-width: 605px){
  .soutitre0 {
    font-size: 15px;
    left: 8%;
  }

}

.userscontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 40px auto;
  padding: 10px;
  /* background-color: #080808; */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.user-wrapper {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 10px;
  /* border: 1px solid #e2e8f0; */
  border-radius: 8px;
  /* background-color: #ffffff; */
  transition: background-color 0.3s ease;
  border: 1px solid var(--color-primary);
}

.user-wrapper:hover {
  /* background-color: #f1f5f9; */
}

.user-wrapper .user {
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
  align-items: center;
}

.user p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  /* color: #2d3748; */
  color: #ffffff ;

}
.invitation{
  margin-top: 5px;
  margin-left: 50px;
}
.invitation button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.invitation button:hover {
  /* background-color: #2563eb; */
  background-color: var(--color-primary-hover);
}

@media (max-width: 500px) {
  .user-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .invitation button {
    width: 100%;
  }
}
@media(max-width :859px){
.invitation {
  margin-left: 0px;
}
.user-wrapper .user {
  display: flex;
  gap: 2px;
  align-items: center;
}
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e2e8f0;
}
.error{
      color: red;
    margin: 20px;
}
.invitation button.invited {
  background-color: gray;
  color: white;
  cursor: not-allowed;
  transition: 0.3s;
}
.no-users{
  display: flex;
  justify-content: center;
}