/* body{
    background-color: #102E50;
} */
.containerRegister{
    width: 75%;
    padding: 30px;
    margin: 100px auto;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: #222;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}

.name, 
.nicknameAndAge,
.genderAndAvatar,
.password,
.aboutme,
.email,
.submit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.name input, 
.nicknameAndAge input,
.genderAndAvatar input,
.genderAndAvatar select,
.password input,
.aboutme textarea,
.email input,
.submit input{
    width: 49%;
    padding: 8px;
    font-size: 16px;
    outline: none;
    border: 1px solid #333;
    border-radius: 8px;
}

.aboutme textarea,
.email input,
.submit input{
    width: 100%;
    margin: 0;
}
.aboutme textarea{
    resize: none;
}

.submit input{
    background-color: var( --color-primary);
    border: 2px solid var( --color-primary);
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.submit input:hover{
    background-color: #06d69ece;
}

