.reactionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*position: relative;*/
}

.buttons button {
    cursor: pointer;
}

.buttons button span {
    position: relative;
    top: -2px;
    /* left: 0; */
}

.formComment {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.formComment .uploadImage, .formComment .submit {
    display: none;
}

.formComment .uploadIcon,
.formComment .submitIcon {
    font-size: 30px;
    cursor: pointer;
    color: var(--color-primary);
    transition: color 0.5s ease-in-out;
}
.formComment .submitIcon{
    font-size: 25px;
}

.formComment .uploadIcon:hover,
.formComment .submitIcon:hover {
    color: var(--color-primary-hover);
}

.show{
    background-color: transparent;
    /* border: 1px solid var(--color-primary); */
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 15px;
    transition: all .2s ease-in-out;
}

.show:hover{
    background-color: #222;
}

/* .reactionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.like{
    display: flex;
    justify-content: start;
}

.dislike{
    display: flex;
    justify-content: end;
}

.button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.button span{
    position: absolute;
    top: -2px;
} */

/* button {
    marginTop: '0px';
    marginLeft: '5px';
    width: '10%';
    padding: '14px 0';
    backgroundColor: 'var(--color-primary)';
    color: 'white';
    fontWeight: 'bold';
    border: 'none';
    borderRadius: '4px';
    cursor: 'pointer';
} */