/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_container__aoG4z{
  display: flex;
  /* align-items: center; */
  gap: 50px;
}

.page_sidebar__J6ahr{
  flex: 2 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 20px; */
}

.page_posts__9lDd9{
  flex: 8 1;
  display: flex;
  flex-direction: column;
  
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/contacts/contacts.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.contacts_profile__0PB7F{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.contacts_imgProfile__2R9Oz{}
.contacts_imgProfile__2R9Oz .contacts_image__jztem{}

.contacts_name__iJFnD{}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/createPost/createPost.modules.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.postContainer{
    margin-bottom: 50px;
    border: 2px solid #222;
    padding: 20px;
    border-radius: 4px;
}

.identityProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.imageProfile{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.nameProfile{
    margin-left: 10px;
}
.nameProfile h3{
    margin-bottom: 5px;
}
.friends{
    outline: none;
}

.title input{
    font-size: 17px;
    font-weight: 400px;
    border: none;
    outline: 0;
    border-bottom: 1px solid #222;
    padding: 10px;
    background-color: #333;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 90%;
    margin-left: 5%;
    /* display: flex;
    justify-content: center; */
}

.uploadImage{
    margin: 15px 5%;
}

.uploadImage input{
    /* background-color: #333; */
}

.submit{
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 15px 50px;
    margin-left: 5%;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.submit:hover{
    background-color: #333;
    color: #f1f1f1;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/likeDislikeComment/likeDislikeComment.modules.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************/
.reactionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*position: relative;*/
}

.buttons button{
    cursor: pointer;
}

.buttons button span{
    position: relative;
    top: -2px;
    /* left: 0; */
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/* .reactionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.like{
    display: flex;
    justify-content: start;
}

.dislike{
    display: flex;
    justify-content: end;
}

.button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.button span{
    position: absolute;
    top: -2px;
} */
/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/post/post.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.post_container__jnjww{
    /* border-left: 1px solid #333;
    border-right: 1px solid #333; */
    border: 2px solid #333;
    padding: 20px;
}

.post_container__jnjww .post_post__k4L86{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
}
.post_header__8UWoW {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.post_header__8UWoW .post_containerHeader___G0Cy{
    display: flex;
    align-items: center;
    /* justify-content: start;
    width: 100%; */
}

.post_imageContainer__1qrHN{
    width: 50px;
    aspect-ratio: 1 / 1;
    background-color: var(--color-primary);
    border-radius: 50%;
}
.post_header__8UWoW h2{
    margin-left: 10px;
}
.post_imageContainer__1qrHN .post_image__LMMC_{
    object-fit: cover;
}
.post_content__fu_Ia{
    margin: 15px 20px;
    line-height: 1.5em;
    font-size: 17px;
    /* align-items: start; */
}
.post_imagePost__oKWo2{
    /* width: 95%; */
    /* min-height: 300px; */
    /* position: relative; */
    /* margin-bottom: 20px;
    margin-left: 20px; */
    display: flex;
    align-items: center;
}
.post_imagePost__oKWo2 .post_image__LMMC_{
    object-fit: cover;
    border-radius: 7px;
    width: 95%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.post_reaction___CoG4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


.post_reaction___CoG4 .post_dislike__bsNdZ{
    display: flex;
    align-items: center;
}
.post_dislike__bsNdZ svg{
    margin-top: 4px;
}

.post_reaction___CoG4 .post_comment__j9lnu{
    display: flex;
    align-items: center;
}
.post_reaction___CoG4 .post_comment__j9lnu span{
    margin-bottom: 2px;
}
